* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

.pre_container {
    text-align: center;
}

.container {
    display: inline-block;
    margin: 0 auto;
    max-width: 100vw;
    height: 97vh;
    width: 100vh;
}

.container embed {
    float: left;
}